<div class="content_section">
        <div class="hm_main_content full_content clearfix">
            <div class="entry-content">
                
                <!-- Page Title -->

                <div class="content_section page_title default">
                    <div class="content clearfix">
                        <h1>About Us</h1>
                    </div>
                </div>
                <!-- End Page Title -->

                
                <!-- Section -->
                <div class="it_section content_section hide_text_shadow">
                    <div class="hm_no_overlay column_spacer2">
                        <span class="bg_overlay_con"></span>
                        <div class="section_content container">
                            
                            <!-- Row -->
                            <div class="rows_container clearfix">
                                <div class="columns_con columns_normall clearfix">
                                    
                                    <!-- Column -->
                                    <div class="hm_columns show_xs show_sm show_md show_lg col-md-6 f_left">
                                        <div class="hm_column_out">
                                            <div class="hm_column_con clearfix col_padd1 column_spacer2">
                                                <div class="main_title title_boxed no_border no_line align_left">
                                                    <h2 class="bold1 fs20">About Calgary Travel Clinic</h2>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="hm_divider divi_border1 divi_left divi_i_c divi_mid default_boc default_bgc divi_space4 divi_hi2"></div>
                                                <div class="hm_text_sc">
                                                    <p>Calgary Travel Clinic is dedicated to help people travel to their destinations in a safe and enjoyable manner. We carry all types of vaccines needed for a safe travel. Our travel clinic is a certified Yellow Fever clinic.</p>
                                                    <p>
                                                        During your office visit you will be assisted by our friendly professional staff and physician. Recommendations regarding pre – travel immunizations and medications will be made based on your personal travel plans including your destinations, planned activities, length of stay and health history.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Column -->
                                    
                                    <!-- Column -->
                                    <div class="hm_columns show_xs show_sm show_md show_lg col-md-6 f_left">
                                        <div class="hm_column_out">
                                            <div class="hm_column_con clearfix col_padd1 column_spacer2">
                                                <div class="main_title title_boxed no_border no_line align_left">
                                                    <h2 class="bold1 fs20">What We Do</h2>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="hm_divider divi_border1 divi_left divi_i_c divi_mid default_boc default_bgc divi_space4 divi_hi2"></div>
                                                <div class="hm_text_sc">
                                                    <p>We provide a comprehensive service that includes:</p>
                                                    <ul>
                                                        <li>Required and recommended immunizations based on your itinerary, personal history of immunizations, and planned activities during your trip.</li>
                                                        <li>Vaccinations</li>
                                                        <li>Vaccination Certificates</li>
                                                        <li> Prescriptions to prevent malaria and treat traveler’s diarrhea, as appropriate</li>
                                                        <li>Tips for travel size products.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Column -->

                                </div>
                            </div>
                            <!-- End Row -->
                            
                        </div>
                    </div>
                </div>
                <!-- End Section -->
                                    
            </div>
        </div>
    </div>