<!-- Page Title -->

<div class="content_section page_title default">
    <div class="content clearfix">
        <h1>Contact Us</h1>
    </div>
</div>
<!-- End Page Title -->

<div class="content_section">
  <div class="full_content clearfix">
      
      <!-- Section -->
      <div class="it_section content_section hide_text_shadow">
          <div class="hm_no_overlay row_spacer4">
              <span class="bg_overlay_con"></span>
              <div class="section_content container centered">
                  
                  
                  
                  <div class="desc_text_block centered">We have several locations in Calgary city.</div>
                  <div class="desc_text_block centered">Please call us or send us email at Douglasglen.Pharmacy@gmail.com</div>
                  
                 
              
              </div>
          </div>
      </div>
      <!-- End Section -->
      
  </div>
</div>


