<!-- Page Title -->

<div class="content_section page_title default">
    <div class="content clearfix">
        <h1>Contact Us</h1>
    </div>
</div>
<!-- End Page Title -->

<div class="content_section">
  <div class="full_content clearfix">
      
      <!-- Section -->
      <div class="it_section content_section hide_text_shadow">
          <div class="hm_no_overlay row_spacer2">
              <span class="bg_overlay_con"></span>
              <div class="section_content container">
                  
                  
                  
                  <strong>What is required before the appointment?</strong>
                  <p>To gain the most benefit out of your travel consultation, please bring your itinerary, including all countries you plan to visit, duration of stay, planned activities, immunization records if available.</p>
                  
                  <strong>How far in advance to come in?</strong>
                  <p>Most vaccines take time to become effective and some vaccines must be given in a series over a period of days or sometimes weeks, Please make a travel appointment as soon as you know your itinerary so we can discuss your needs.</p>

                  <strong>Will medical insurance cover travel visit and vaccinations?</strong>
                  <p>Unlike other travel clinic we take direct billing from medical insurance and it will save your time. Don’t pay for vaccines out of pocket. If you have insurance, we may be able to submit your claim directly and save you the hassle of sending in your receipts. Most travel clinics take money from your pocket and give you the bill.</p>

                  <strong>How long to get an appointment?</strong>
                  <p>Our travel clinic offers same day and next day appointments. We are open six days a week including Saturdays.</p>

                  <strong>What vaccines do we provide?</strong>
                  <p>We carry a full scope of travel vaccines including Yellow Fever. We also provide International Certificate of Yellow Fever Vaccination and necessary prescriptions against infectious diseases such as malaria.</p>

                  <strong>What vaccines needed for travel?</strong>
                  <p>Recommendations regarding pre – travel immunizations and medications will be made based on your personal travel plans including your destinations, planned activities, length of stay and health history.</p>

                  <div class="desc_text_block">Please call us at <strong>403 454 6777</strong> or send us email at <strong>Douglasglen.Pharmacy@gmail.com</strong></div>
              </div>
          </div>
      </div>
      <!-- End Section -->
      
  </div>
</div>


