<!-- Page Title -->

<div class="content_section page_title default">
    <div class="content clearfix">
        <h1>List of Vaccines</h1>
    </div>
</div>
<!-- End Page Title -->

<div class="content_section">
  <div class="full_content clearfix">
      
      <!-- Section -->
      <div class="it_section content_section hide_text_shadow">
          <div class="hm_no_overlay row_spacer4">
              <span class="bg_overlay_con"></span>
              <div class="section_content container centered">
                  
                  
                  
                  <div class="table-responsive"><table class="shop_table shop_table_responsive table">
                            <thead>
                                <tr>

                                    <th class="product-name">Travel Vaccines</th>
                                    <th class="product-price">Number of vaccines in a series</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="cart_item">
                                    <td class="product-name">
                                        Typherix - Typhoid
                                    </td>
                                   
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">
                                        Havrix 1440 - Hepatitis A
                                    </td>
                                   
                                    <td>2</td>
                                </tr>

                                <tr class="cart_item">
                                    <td class="product-name">
                                        Twinrix - Hepatitis A & B
                                    </td>
                                    
                                    <td>3</td>
                                </tr>

                                <tr class="cart_item">
                                    <td class="product-name">Energix-B - Hepatitis B</td>
                                    <td>3</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Cervarix - HPV</td>
                                    <td>3</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Fluviral - Influenza</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">TD Adsorbed - Tetanus, Diphtheria (for travel purposes)</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Adacel - Tetanus, Diphtheria, Pertussis</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Mantoux Test - TB</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Typhim - Typhoid</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Vivaxim - Typhoid & Hepatitis A</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Menactra - Meningitis</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Menjugate - Meningitis</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">YF - VAX - Yellow Fever</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Imovax - Polio IPV</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Imovax - Polio IPV</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Gardasil - HPV</td>
                                    <td>3</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Zostravax - Shingles</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">MMR - Measles, Mumps, Rubella</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Varicella - Chicken Pox</td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Pneumovax - Pneumococcus </td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Dukoral - Cholera, Travelers' diarrhea from ETEC (2) </td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Dukoral Booster </td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Vivotif - Typhoid (4) </td>
                                    <td></td>
                                </tr>
                                 <tr class="cart_item">
                                    <td class="product-name">Ixiaro - Japanese Encephalitis </td>
                                    <td>2</td>
                                </tr>
                                 <tr class="cart_item">
                                    <td class="product-name">RabAvert - Rabies </td>
                                    <td>2</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">Menveo </td>
                                    <td></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">FSME - tick-borne Encephalitis </td>
                                    <td>3</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-name">TD Polio - Tetanus, Polio </td>
                                    <td></td>
                                </tr>
                           
                            </tbody>
                        </table>
                        </div>
                      <div class=" centered">Call us today to about the prices and fees.</div>
                      <div class=" centered">Please note that some vaccines may not be available at the time of your appointment due to supplier shortages.</div>
              </div>
          </div>
      </div>
      <!-- End Section -->
      
  </div>
</div>