<div class="content_section page_title default">
    <div class="content clearfix">
        <h1>Sorry! Could not book your appointment. Please try again later.</h1>
    </div>
</div>
<!-- End Page Title -->