
<div class="content_section">
  <div class="full_content clearfix">
      
      <!-- Section -->
      <div class="it_section content_section hide_text_shadow">
          <div class="hm_no_overlay row_spacer4">
              <span class="bg_overlay_con"></span>
              <div class="section_content container centered">
                  
                  
                  
                  <div class="desc_text_block centered">Thank you for submitting your request. We will call you soon to confirm your appointment.</div>
                  
                  <a class="lookup_btn main_button  popup-with-zoom-anim no_text_shadow no_three_d_btn no_box_shadow medium_btn f_none upper border2 btn_padd3 btn_bord5 has_box_shadow bold2 fs15" target="_self" href="/">Back To Home Page</a>
              
              </div>
          </div>
      </div>
      <!-- End Section -->
      
  </div>
</div>